<div class="row">
    <div class="comments">
        <h2 class="comment-title">
            Popular creators
        </h2>
        <ul>
            <li>
                <span class="user-card-image"><img src="https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/418626fc66f562f17b2f9324bd74cb0e~c5_100x100.jpeg" alt=""></span>
                <span class="user-card-name">my name</span>
                <div class="user-card-comment">
                    <span>Fans: 29.3K</span>
                    <span>Videos: 152K</span>
                </div>
            </li>
            <li>
                <span class="user-card-image"><img src="https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/418626fc66f562f17b2f9324bd74cb0e~c5_100x100.jpeg" alt=""></span>
                <span class="user-card-name">my name</span>
                <div class="user-card-comment">
                    <span>Fans: 29.3K</span>
                    <span>Videos: 152K</span>
                </div>
            </li>
            <li>
                <span class="user-card-image"><img src="https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/418626fc66f562f17b2f9324bd74cb0e~c5_100x100.jpeg" alt=""></span>
                <span class="user-card-name">my name</span>
                <div class="user-card-comment">
                    <span>Fans: 29.3K</span>
                    <span>Videos: 152K</span>
                </div>
            </li>
            <li>
                <span class="user-card-image"><img src="https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/418626fc66f562f17b2f9324bd74cb0e~c5_100x100.jpeg" alt=""></span>
                <span class="user-card-name">my name</span>
                <div class="user-card-comment">
                    <span>Fans: 29.3K</span>
                    <span>Videos: 152K</span>
                </div>
            </li>
            <li>
                <span class="user-card-image"><img src="https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/418626fc66f562f17b2f9324bd74cb0e~c5_100x100.jpeg" alt=""></span>
                <span class="user-card-name">my name</span>
                <div class="user-card-comment">
                    <span>Fans: 29.3K</span>
                    <span>Videos: 152K</span>
                </div>
            </li>
            <li>
                <span class="user-card-image"><img src="https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/418626fc66f562f17b2f9324bd74cb0e~c5_100x100.jpeg" alt=""></span>
                <span class="user-card-name">my name</span>
                <div class="user-card-comment">
                    <span>Fans: 29.3K</span>
                    <span>Videos: 152K</span>
                </div>
            </li>
            <li>
                <span class="user-card-image"><img src="https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/418626fc66f562f17b2f9324bd74cb0e~c5_100x100.jpeg" alt=""></span>
                <span class="user-card-name">my name</span>
                <div class="user-card-comment">
                    <span>Fans: 29.3K</span>
                    <span>Videos: 152K</span>
                </div>
            </li>
            <li>
                <span class="user-card-image"><img src="https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/418626fc66f562f17b2f9324bd74cb0e~c5_100x100.jpeg" alt=""></span>
                <span class="user-card-name">my name</span>
                <div class="user-card-comment">
                    <span>Fans: 29.3K</span>
                    <span>Videos: 152K</span>
                </div>
            </li>
        </ul>
    </div>
</div>